#    Copyright 2026 Mishmash IO UK Ltd.
#
#  Licensed under the Apache License, Version 2.0 (the "License");
#  you may not use this file except in compliance with the License.
#  You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
#  Unless required by applicable law or agreed to in writing, software
#  distributed under the License is distributed on an "AS IS" BASIS,
#  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
#  See the License for the specific language governing permissions and
#  limitations under the License.

name: Continuous Integration

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test-javascript:
    name: JavaScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v6
        with:
          node-version-file: .node-version
          cache: npm

      - name: Install Dependencies
        id: npm-ci
        run: npm ci

      - name: Check Format
        id: npm-format-check
        run: npm run format:check

      - name: Lint
        id: npm-lint
        run: npm run lint

      - name: Test
        id: npm-ci-test
        run: npm run ci-test

  test-action:
    name: Setup telemetry collection Action Test
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      - name: Setup Java
        id: setup-java
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '25'

      - name: Test the action
        id: test-action
        uses: ./
        with:
          save-logs: true
          save-profiles: true
          java-agent-version: latest
          github-token: ${{ secrets.GITHUB_TOKEN }}
          summary-queries: summaries/*.sql

      - name: Show the downloaded java agent location
        id: print-java-agent-location
        run: ls -l "${{ steps.test-action.outputs.java-agent }}"

      - name: Run some instrumented java commands to emit example telemetry
        env:
          JAVA_TOOL_OPTIONS:
            '-javaagent:${{ steps.test-action.outputs.java-agent }}'
          OTEL_RESOURCE_ATTRIBUTES:
            '${{ env.OTEL_RESOURCE_ATTRIBUTES }},github.action.name=${{
            env.GITHUB_ACTION }}'
        run: mvn dependency:get -Dartifact=org.apache.hadoop:hadoop-hdfs:3.4.2

      - name: Show saved telemetry signals
        run: ls -la "${{ steps.test-action.outputs.signals-path }}"
